.service {
    padding-top: 20px;

    &_block {
        text-align: center;
    }

    &_card_spnan{
        height: 100%;
        width: 3px;
        position: absolute;
        transform: translateY(-100%);
        background-color: black;
        left: 0%;
        transition: all 0.2s ease-in-out;
    }

    &_img {
        margin-bottom: 33px;
    }

    &_card{
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding-left: 10px;
        transition: all 0.2s ease;
    }

    &_card:hover{
        transform: scale(1.1);
    }

    &_card:hover .service_card_spnan{
        transform: translateX(100%);
    }

    &_card_title {
        color: rgba(108, 130, 148, 1);
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    &_card_text {
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        color: rgba(108, 130, 148, 1);
        margin-bottom: 48px;
    }

}

@media screen and (min-width:768px) {
    .service_block {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (min-width:992px) {
    .service_block {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}